<html>
    <head>
        <meta charset="utf-8">
        <meta lang="sv">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" 
              type="text/css" 
              rel="stylesheet" />
        <link type="text/css" 
              rel="stylesheet" 
              href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
        <link type="text/css" 
              rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="content"></div>
            <div class="nav-bar">
                <a href="/#/login" class="js-signout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <br>Logga ut
                </a>
                <a href="/#/checklists"><i class="fa fa-list"></i><br>Visa alla</a>
                <a href="/#/checklists/new"><i class="fa fa-file-o"></i><br>Skapa ny</a>
            </div>
        </div>
        <script src="navigo.min.js"></script>
        <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>
        <script src="check-list.js"></script>
        <script src="tmpl.min.js"></script>
        <script type="text/x-tmpl" 
                id="checklist-summary">
            <div class="page-header"><a href="/#/checklists"><i class="fa fa-arrow-left"></i></a></div>
            <div class="page">
                {% if (o.adUrl && o.adUrl.length) { %} 
                    <a href="{%=o.adUrl%}">{%=o.name%}</a>
                {% } else { %}
                    {%=o.name%}
                {% } %}
                {% for (var i=0; i<o.checkItems.length; i++) { %}
                    <div class="list-item js-list-item">
                        <label>
                            <span class="js-description">{%=o.checkItems[i].description%}</span>
                            {% if (o.checkItems[i].meetsRequirements === true) { %}<span class="ok-text">OK!</span>{% } else { %}<span class="not-ok-text">Ej ok</span>{% } %}
                        </label>
                        <br>
                        <div>
                            {%=o.checkItems[i].comment%}
                        </div>
                    </div>
                {% } %}
                <input class="delete js-delete-checklist" 
                       type="button" 
                       value="Radera"
                       data-checklist-id="{%=o.id%}"/>
            </div>
        </script>
        <script type="text/x-tmpl" 
                id="checklist">
            <div class="page-header">Nytt Protokoll</div>
            <div class="page">    
                <label>
                    Namn
                </label>
                <br>
                <input type="text" 
                       class="js-checklist-name" 
                       value="{%=o.name%}" />
                <br>
                <label>
                    Länk till annons
                </label>
                <br>
                <input type="text" 
                       class="js-checklist-ad-url" 
                       value="{%=o.adUrl%}"/>
                
                {% for (var i=0; i<o.checkItems.length; i++) { %}
                    <div class="list-item js-list-item">
                        <label>
                            <span class="js-description">{%=o.checkItems[i].description%}</span>
                            <input type="checkbox"
                                   class="js-meets-requirements" {% if (o.checkItems[i].meetsRequirements === true) { %} checked{% } else { %}{% } %} />
                        </label>
                        <br>
                        <div>
                            <textarea class="js-comment"
                                      placeholder="Kommentar t.ex. slitet, nyrenoverat eller trasig">{%=o.checkItems[i].comment%}</textarea>
                        </div>
                    </div>
                {% } %}
                <input class="js-save-checklist" 
                       type="button" 
                       value="Spara" />
            </div>
        </script>
        <script type="text/x-tmpl" 
                id="checklist-list">
            <div class="page-header">Protokoll</div>
            <ul class="check-list">
                {% for (var i=0; i<o.length; i++) { %}
                    <li class="js-edit-checklist clickable" data-checklist-id="{%=o[i].id%}">{%=o[i].name%}</li>
                {% } %}
            </ul>
        </script>
        <script src="script.js"></script>
    </body>
</html>