<html>
    <head>
        <meta charset="utf-8">
        <meta lang="sv">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" 
              type="text/css" 
              rel="stylesheet" />
        <link type="text/css" 
              rel="stylesheet" 
              href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
        <link type="text/css" 
              rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <div class="container">
           <div class="content"></div>
           <div class="nav-bar">
                <ul>
                    <li><a href="/#/checklists/new"><i class="fa fa-file-o"></i><br>Skapa ny</a></li>
                    <li><a href="/#/checklists"><i class="fa fa-list"></i><br>Visa alla</a></li>
                    <li>
                       <a href="/#/login" class="js-signout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <br>Logga ut
                       </a>
                    </li>
                </ul>
            </div>
        </div>
        <script src="navigo.min.js"></script>
        <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>
        <script src="check-list.js"></script>
        <script src="tmpl.min.js"></script>
        <script type="text/x-tmpl" 
                id="checklist">
            <label>
                Namn
                <br>
                <input type="text" 
                       class="js-checklist-name" 
                       value="{%=o.name%}" />
            </label>
            <br>
            <label>
                Länk till annons
                <br>
                <input type="text" 
                       class="js-checklist-ad-url" 
                       value="{%=o.adUrl%}"/>
            </label>
            {% for (var i=0; i<o.checkItems.length; i++) { %}
                <div class="list-item js-list-item">
                    <span class="js-description">{%=o.checkItems[i].description%}</span>
                    <input type="checkbox"
                           class="js-meets-requirements" {% if (o.checkItems[i].meetsRequirements === true) { %} checked{% } else { %}{% } %} />
                    <br>
                    <div class="comment-section">
                        <span class="js-show-comment clickable">Skriv kommentar</span>
                        <span class="js-hide-comment hidden clickable">Dölj kommentar</span>
                        <br>
                        <textarea class="hidden js-comment">{%=o.checkItems[i].comment%}</textarea>
                    </div>
                </div>
            {% } %}
            <input class="js-save-checklist" 
                   type="button" 
                   value="Spara" />
        </script>
        <script type="text/x-tmpl" 
                id="checklist-list">
            <ul class="check-list">
                {% for (var i=0; i<o.length; i++) { %}
                    <li class="js-edit-checklist clickable" data-checklist-id="{%=o[i].id%}">{%=o[i].name%} <i class="fa fa-trash-o js-delete-checklist clickable" data-checklist-id="{%=o[i].id%}"></i></li>
                {% } %}
            </ul>
        </script>
        <script src="script.js"></script>
    </body>
</html>