<html>
    <head>
        <meta charset="utf-8">
        <meta lang="sv">
        <link href="style.css" 
              type="text/css" 
              rel="stylesheet" />
        <link type="text/css" 
              rel="stylesheet" 
              href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
    </head>
    <body>
        <input type="button" 
               class="signout" 
               value="Logga ut" />
        <div class="content"></div>
        <script src="navigo.min.js"></script>
        <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>
        <script src="check-list.js"></script>
        <script src="tmpl.min.js"></script>
        <script type="text/x-tmpl" 
                id="checklist">
            <label>
                List-namn
                <br>
                <input type="text" class="js-checklist-name" />
            </label>
            <br>
            <label>
                Länk till Hemnet/Blocket
                <br>
                <input type="text" class="js-checklist-ad-url" />
            </label>
            {% for (var i=0; i<o.length; i++) { %}
                <div class="list-item js-list-item">
                    <span class="js-description">{%=o[i].description%}</span>
                    <input type="checkbox"
                           class="js-meets-requirements" {% if (o[i].meetsRequirements === true) { %} checked{% } else { %}{% } %} />
                    <br>
                    <div class="comment-section">
                        <span class="js-show-comment clickable">Skriv kommentar</span>
                        <span class="js-hide-comment hidden clickable">Dölj kommentar</span>
                        <br>
                        <textarea class="hidden js-comment">{%=o[i].comment%}</textarea>
                    </div>
                </div>
            {% } %}
            <input class="js-save-checklist" 
                   type="button" 
                   value="Spara" />
        </script>
        <script type="text/x-tmpl" 
                id="checklist-list">
            <ul>
                {% for (var i=0; i<o.length; i++) { %}
                    <li>{%=o[i].name%} <span class="js-delete-checklist clickable" data-checklist-id="{%=o[i].id%}">[X]</span> <span class="js-edit-checklist clickable" data-checklist-id="{%=o[i].id%}">Redigera</span></li>
                {% } %}
            </ul>
        </script>
        <script src="script.js"></script>
    </body>
</html>